@import "../../style/base.scss";

.container {
  @include directionX;

  .container_right {
    height: 100%;

    .container_btn {
      min-width: 100%;
      @include directionX;
      justify-content: center;
    }
  }
}
