@import "../../style/base.scss";

.container{
    @include directionX;

    .container_left{
        width: 40%;
        background-color: red;
        margin: 2rem;
    }
    
    .container_right{
        width: 60%;
        margin: 2rem;
        height: 100%;
    }
}